#message-input__container {
    #message-input {
        padding: 12px;
        width: 60%;
        height: 60px;
        font-size: 16px;
        font-family: inherit;
        border: 1px solid #aaaaaa;
        border-radius: 3px;
        resize: none;
    }
    #message-input__send {
        margin-right: 24px;
        padding: 3px 24px;
        height: 50px;
        font-size: 18px;
        border: none;
        border-radius: 3px;
        color: #ebe9e9;
        background-color: #333333;
        cursor: pointer;
    }
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
