.message {
    .username {
        margin-bottom: 6px;
        align-self: flex-start;
    }

    .content_center {
        .avatar {
            img {
                position: absolute;
                width: 100%;
            }
            position: relative;
            margin-right: 25px;
            width: 55px;
            height: 55px;
            display: flex;
            align-items: center;
            overflow: hidden;
        }
        
        margin-right: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .message-date {
        position: absolute;
        right:10;
        bottom: 0;
        margin-bottom: 10px;
        align-self: flex-end;
    }
    .message-like {
        #heart.heart {
            position: absolute;
            left: 0;
        }
        .heart {
            padding: 15px;
            fill: #FF6767;
        }

        position: absolute;
        right: 0;
        bottom: 0;
        transform: translate(100%, 0);
        cursor: pointer;
    }

    position: relative;
    margin: 10px 0px 10px;
    padding: 8px 12px 12px;
    max-width: 55%;
    background-color: #ebe9e9;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
#own-message {
    .username .avatar {
        display: none;
    }
    .message-date {
        position: relative;
        margin: 0px;
    }

    .own-message-icons {
        svg {
            padding: 9px;
            width: 15px;
            height: 15px;
            fill: #333333;
            cursor: pointer;
        }

        .edit {
            padding: 10px;
            width: 13px;
            height: 13px;
        }

        position: absolute;
        left: 0;
        bottom: 0;
        transform: translate(-100%, 0);
    }

    margin-left: auto;
    background-color: rgb(221, 255, 198);
}